@charset "UTF-8";
@font-face {
  font-family: zapfino;
  src: url('fonts/Zapfino.ttf'),
       url('fonts/Zapfino.eot'); /* IE */
}


* {
 padding: 0;
 margin: 0;
}
body {
  color: #000000;
  background-color: #171614;
}
/* style from the DFS site */
#header {
  background: url('images/headerPlaceholder.jpg') center top no-repeat;
  min-width: 1024px;
  width: 100%;
  height: 145px;
}
#container {
	width: 100%;
	height: auto;
	position: relative;
	top: 0px;	
	margin: 0 auto;
	text-align: center;
	background: #fff;
}

#container-inner {
	background: #fff;
	padding: 0px;
	height: auto;
	position: relative;
	margin: 0 auto;
	top: 0px;
}
#wrapper {
  width: 1280px;
  height: auto;
  margin: 0 auto;
  
}

#content { 
  min-width: 780px;
  width: 1280px;
}
#map {
  background: url('images/map3.png') top center no-repeat;
  width: 100%;
  height: 770px;
}

h1.title {
  font-family: zapfino;
  font-size: 30px;
  color: #333333;
  position: relative;
  top: 30px;
  left: 50px;
}
#nodes {
  width: 100%;
  height: 770px;
  position: relative;
  top: 24px;
}
/* Start of radial node menus */
.radial_div_item {
  height:30px; 
  padding:10px;
  color: #234;
  border-radius:10px;
  cursor:pointer;
}
.radial_div_item.active { 
	 
	color:white;
	padding: 10px; 
	
	z-index:100;
}
.my_class { 
	font-size:1.5em; 
	color:#abc;
	
	-moz-border-radius:30px;
	width:30px;
	height:30px;
	-webkit-border-radius:30px;
}
#nodes {
  width: 100%;
  height: 100%;
  
}
a img{
    border-radius: 5px;
}
.wetname{
  position: absolute;
  top: -50px;
  left:-30px;
  font-size: 14px;
  color: #322620;
  font-family: Verdana, Helvetica, Arial;
  letter-spacing: 1px;
  display: none;
  width: 200px;
}
#ocadPosters{
  position: absolute;
  top: 230px;
  left:60px;
  font-size: 14px;
  color: #322620;
  font-family: Verdana, Helvetica, Arial;
  letter-spacing: 1px;
  display: none;
}
/* west 4th and chancellor */
#radial_container_w { 
  position: relative;
  float: left;
  top: 362px;
  left: 133px; 
  width:150px; 
  height:150px; 
  text-align:center;
} 
#west4 {
  position: relative;
  background: url('images/west4.png') center center no-repeat;
  top: 25px;
  left: 25px;
  width: 100px;
  height: 100px;
}
/*jericho */
#radial_container_j { 
  position: relative;
  float: left;
  top: 341px;
  left: 170px;
  width:150px; 
  height:150px; 
  text-align:center;
}
#jericho {
  position: relative;
  background: url('images/jericho.png') center center no-repeat;
  top: 25px;
  left: 25px;
  width: 100px;
  height: 100px;
}
/*camosun bog*/
#radial_container_c { 
  position: relative;
  float: left;
  top: 500px;
  left: 3px;
  width: 150px; 
  height: 150px; 
  text-align:center;
}
#camosun {
  position: relative;
  background: url('images/camosun.png') center center no-repeat;
  top: 25px;
  left: 25px;
  width: 100px;
  height: 100px;
}
/*lost lagoon */
#radial_container_l { 
  position: relative;
  float: left;
  top: 113px;
  left: 226px;
  width:150px; 
  height:150px; 
  text-align:center;
}
#lostLagoon {
  position: relative;
  background: url('images/lostlagoon.png') center center no-repeat;
  top: 30px;
  left: 25px;
  width: 100px;
  height: 100px;
}
/*ocad posters */
#radial_container { 
  position: relative;
  float: left;
  top: 340px;
  right: 35px; 
  width:230px; 
  height:230px; 
  text-align:center;
}
#posters{
  position: relative;
  background: url('images/leaf.png') center center no-repeat;
  width: 100px;
  height: 100px;
  top: 55px;
  left: 70px;
} 
/*trout lake */
#radial_container_t { 
  position: relative;
  float: left;
  float: right;
  top: 485px;
  right: 3px;
  width: 150px; 
  height: 150px; 
  text-align:center;
}
#troutLake {
  position: relative;
  background: url('images/troutlake.png') center center no-repeat;
  top: 25px;
  left: 20px;
  width: 100px;
  height: 100px;
}
/*end of radial node menus */
/* logos */
#logos{
  position: relative;
  float: right;
  height: auto;
  width: 500px;
  top: 450px;
  left: 0px;
}
#caneryLogo{
  background: url('images/CanneryLogoB&W.png') no-repeat;
  height: 60px;
  width: 60px;
  position: relative;
  float:left;
  margin-right: 20px
  
}
#ocadLogo{
  background: url('images/OCADU.png') no-repeat;
  height: 60px;
  width: 72px;
  float: left;
  margin-left: 30px;
}
#ecuadLogo{
  background: url('images/ecuadlogo.png') no-repeat;
  height: 60px;
  width: 60px;
  float:left;
  top: 670px;
  margin-left: 35px;
}
#dfsLogo{
  background: url('images/DSF-logo-RGB-notagline.png') no-repeat;
  height: 60px;
  width: 130px;
  float:left;
  top: 670px;
  margin-left: 15px;
}
#footer {
  background: url('images/footerPlaceholder.jpg') center top no-repeat;
  min-width: 1024px;
  width: 100%;
  height: 131px;
}

/*these styles are for video pages*/
#nav {
  position: relative;
  float: right;
  top: 12px;
  right: 130px;
  clear: right;
  font-size: 12px;
  color: ##1A4646
  
}
.nav {
  text-decoration: none;
  font-size: 12px;
  color:#ffffff;
  font-family: Helvetica, Arial;
  letter-spacing: 2px;
  
}
a em {
  color:#1a4646;  
}
#wetTitle {
  font-family: zapfino, Helvetica;
  font-size: 30px;
  color: #1A4646;
  position: relative;
  top: 30px;
  left: 200px;
}

#mainVideos{
    clear: both;
	background: rgba(255,255,255, 0.5) center no-repeat;
	position:relative;
	width: 80%;
	min-width: 900px;
	height: 500px;
	margin: 0 auto;
	top: 40px;
	border-radius:20px;
	
	
}

#vidsContainer{
	background: center no-repeat;
	top: 20px;
	position:relative;
	width: 100%;
	height: 150px;
	margin: 0 auto;
		
}

.interviewVid1{
	background:#666;
	width: 274px;
	height: 100%;
	margin-left: 70px;
	position: relative;
	float: left;
	border-radius: 5px;
}

.interviewVid2{
	width: 274px;
	height: 100%;
	margin-left: 30px;
	position: relative;
	float:left;
}

.interviewVid3{
	position: relative;
	float: left;
	width: 274px;
	height: 100%;
	margin-left: 30px;
	
}
.vidTitle {
  font-size: 16px;
  color: #0F5A5A;
  position: relative;
  right: 4px;
  margin-bottom: 10px;
   
}
#vidsContainertext{
	background: center no-repeat;
	top: 65px;
	position:relative;
	width: 100%;
	height: 250px;
	margin: 0 auto;
		
}

#interviewVid1text{
	width: 25%;
	height: 100%;
	margin-left: 70px;
	position: relative;
	float: left;
	padding: 5px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
}

#interviewVid2text{
	width: 25%;
	height: 100%;
	margin-left: 35px;
	position: relative;
	float:left;
	padding: 5px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
}

#interviewVid3text{
	width: 25%;
	height: 100%;
	margin-left: 40px;
	position: relative;
	float: left;
	padding: 5px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
}


#expVideos{}

/*jericho beach specific styles*/
/*4th street vid page styles*/
/*trout lake vid page styles*/
/*camuson bog vid page styles*/
/*stanley park vid page styles*/